:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --color-alura: #051932;
  --color-pomb-and-power: #88B053E6;
  --color-floral-white: #ffffff;
  --color-sandstorm: #fbd013;
}

h1 {
  color: var(--color-sandstorm);
  font-weight: bolder;
}

h2 {
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--color-floral-white);
  font-weight: lighter;
}

ul {
  list-style: none;
}


body {
  margin: 0 auto;  
  box-sizing: border-box;
  padding: 0;
  min-height: 100vh;
  height: 100%;
}

section {
  padding: 26px;
}

p {
  text-align: justify;
}

.header {
  background-color: var(--color-sandstorm);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header-quiz{
  background-color: var(--color-sandstorm);
  width: 100%;
  height: 10vh;
  display: flex;
  
}

.home-quiz {
  font-weight: bold;
  padding: 18px;
}

.nav-quiz{
  padding: 14px;
}

.links {
  display: inline-block;
}

.menu {
  color: var(--color-floral-white);
  font-weight: lighter;
  display: inline;
  padding: 12px;
  align-items: center;
  cursor: pointer;
}

.search-form {
  padding: 12px;
  align-items: center;
}

input {
  border-radius: 12px;
  padding: 5px;
  border: #ffffff;
  text-align: center;
}

.btn-lupa {
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--color-sandstorm);
  border: none;
  justify-content: center;
  align-items: center;
}

.img-lupa {
  align-items: center;
  justify-content: center;
  width: 18px;
}

.carousel {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.img-carousel {
  width: 1200px;
  height: 700px;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  width: 100%;
  flex-shrink: 0;
  text-align: center;
  padding: 20px;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--color-pomb-and-power); 
  color: #fff;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.infos {
  flex-direction: column;
  margin-bottom: 50px;
}


.perfil {
  display: flex;
  align-items: center;
  padding: 22px;
}

.img-perfil {
  width: 450px;
  border-radius: 10px;
  margin-right: 16px;
  margin-left: 16px;
}

.video-perfil{
  padding: 20px;
  text-align: center;
}

.desc-video {
  margin-top: 0;
  text-align: center;
}

.card {
  display: flex;
  justify-content: space-around;
}

.card-container {
  width: 350px;
  border: 1px solid;
  border-radius: 8px;
  padding: 22px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0, 1);
  background-color: var(--color-pomb-and-power);
}

.txt-card {
  color: var(--color-floral-white);
  font-weight: bold;
  text-align: left;
}

.img-quiz{
  width: 100%;
  height: auto;
}

.img-card {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}

#quiz {
  margin-top: 12px;
  width: 100%;
}

.card-quiz {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.section-quiz {
  display: flex;
  justify-content: space-around;
  margin-top: 22px;
  align-items: center;
}


.intro-quiz {
  flex-direction: column;
}

.txt-intro-quiz {
  font-size:x-large;
}

.img-intro-quiz {
  width: 500px;
  height: 350px;
  border-radius: 10px;
  margin-top: 22px;
}

.btn-intro-quiz {
  margin-top: 10px;
  cursor: pointer;
  background-color: var(--color-sandstorm);
  border-radius: 8px;
  border: none;
  padding: 10px 20px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  transition-duration: 0.4s;
}

.btn-intro-quiz :hover {
  background-color: var(--color-pomb-and-power)
}

.btn-intro-quiz:hover {
  background: linear-gradient(
    90deg,
    rgb(224, 244, 5) 0%,
    rgb(182, 245, 8) 100%
  );
}

.mais-sobre {
  text-align: center;
}

.conteudo-sonia {
  color: #03080e;
}

.cont-um {
  display: inline-block;
}

footer {
  background-color: var(--color-sandstorm);
  width: 100%;
  display: flex;
}


.btn-quiz {
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
  color: var(--color-floral-white);
  padding: 0.8rem 1rem;
  background: var(--color-sandstorm);
  border-radius: 2rem;
  border: none;
}

.btn-quiz:hover {
  background: linear-gradient(
    90deg,
    rgb(224, 244, 5) 0%,
    rgb(182, 245, 8) 100%
  );
}

.img-quiz {
  max-width: 100%;
  width: 600px;
  justify-content: center;
  align-items: center;
}

#quiz {
  text-align: center;
  max-width: 500px;
}

@media (max-width: 768px) {
  .img-carousel, .img-perfil, .img-intro-quiz, .video-perfil {
    width: 100%;
    height: auto;
  }
  .section-quiz{
    flex-direction:column-reverse;
  }

  .perfil{
    flex-direction: column;
  }

  .mais-sobre {
    flex-direction: column;
  }

  .card {
    flex-direction: column;
  }

}

