:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --color-alura: #051932;
  --color-pomb-and-power: #7C5E99;
  --color-floral-white: #ffffff;
  --color-fiery-rose: #f25a70;
  --color-sandstorm: #fbd013;
}

h1 {
  color: var(--color-sandstorm);
  font-weight: bolder;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  margin: 0 auto;  
  box-sizing: border-box;
}

.header {
  background-color: var(--color-sandstorm);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.links {
  display: inline-block;
}

.menu {
  color: var(--color-floral-white);
  font-weight: lighter;
  display: inline;
  padding: 12px;
  align-items: center;
  cursor: pointer;
}

.search-form {
  padding: 12px;
  align-items: center;
}

input {
  border-radius: 12px;
  padding: 5px;
  border: #ffffff;
  justify-content: center;
  align-items: center;
}

.btn-lupa {
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--color-sandstorm);
  border: none;
  justify-content: center;
  align-items: center;
}

.img-lupa {
  align-items: center;
  justify-content: center;
  width: 18px;
}

.perfil {
  display: flex;
  align-items: center;
  
}

.infos {
  flex-direction: column;
  margin-bottom: 50px;
}

.img-perfil {
  width: 450px;
  border-radius: 10px;
  margin-right: 16px;
  margin-left: 16px;
}

.card {
  display: flex;
  justify-content: space-around;
}

.card-container {
  width: 300px;
  border: 1px solid;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0, 1);
}

.section-quiz {
  display: flex;
  justify-content: space-around;
  margin-top: 22px;
  align-items: center;
}

.intro-quiz {
  flex-direction: column;
}

.img-intro-quiz {
  width: 500px;
  height: 350px;
  border-radius: 10px;
  margin-top: 22px;
}


.btn-intro-quiz {
  cursor: pointer;
  background-color: var(--color-sandstorm);
  border-radius: 8px;
}

